.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;

  box-sizing: border-box;
  width: 380px;
  height: 50px;
  margin-bottom: 1rem;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
/* 
.control input {
  display: block;
}

.control input {
  font: inherit;
  border-radius: 6px;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 22px;
  width: 380px;
  height: 60px;
  background: #3f414b;
  border: 1px solid #f2c94c;
  margin-bottom: 28px;
}

.control input:focus {
  outline: none;
  background: #4d4c4e;
}

.control.password input {
  color: #8b8b8b;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
} */
